<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Zapana Gustavo Mauro</title>
</head>
<body>
	<header>
		<h1>Bienvenido a Programación Visual</h1>
		Menu:
	</header>
	<nav>
		<ul>
			<li><a href="#introduccion">Introduccion</a></li>
			<li><a href="#java">java</a></li>
			<li><a href="#materialdeTrabajo">Aula Virtual</a></li>
		</ul>
	</nav>

	<main>
		<section id="introduccion">
			<h2>Inicio</h2>
			<h3>¿Que es la Programacion?</h3>
			<p>
				La programacion es el proceso de crear instrucciones para que una
				computadora realice tareas especificas.<br> Existen distintos
				tipos de lenguajes para programar:
			</p>
			<nav>
				<ul>
					<li>C++</li>
					<li>Python</li>
					<li>Java</li>
				</ul>
			</nav>
		</section>

		<section id="java">
			<h2>¿Que es Java</h2>
			<p>
				Java es un lenguaje de programación de alto nivel y orientado a
				objetos desarrollado.<br> Se destaca por su portabilidad, lo
				que significa que los programas escritos en Java pueden ejecutarse
				en cualquier plataforma que tenga un entorno de ejecución Java (JRE)
				instalado. Esto se logra gracias a la máquina virtual Java (JVM).<br>
				Java presenta las siguientes caracteristicas:
			</p>
			<table>
				<tr>
					<td>Orientado a Objetos</td>
					<td>Simplicidad</td>
					<td>Portabilidad</td>
				</tr>
				<tr>
					<td>Es un lenguaje completamente orientado a objetos.</td>
					<td>Se diseño para ser facil de aprender y usar.</td>
					<td>Se puede ejecutar en cualquier plataforma que tenga JVM.</td>
				</tr>
			</table>

		</section>

		<section id="materialdeTrabajo">
			<h2>Aula Virtual</h2>
			<h3>¿Te intereso?</h3>
			<p>En la Universidad Nacional de Jujuy, tienes la oportunidad de
				aprender a programar a traves de la carrera de 'Analista Programador
				Universitario'</p>
			<a href="https://www.unju.edu.ar/" target="_blank"><img
				src="../static/images/unju.png" alt="Logo de UNJu" /></a>


		</section>
		<aside>
			<h2>Adicional</h2>
			Un canal de youtube recomendado para aprender a programar es <a
				href="https://www.youtube.com/c/Programaci%C3%B3nATS"
				target="_blank">
				<img src="image/icono.jpg"
				alt="logo de ProgramacionATS" /></a>
		</aside>

	</main>
	<footer>
		<h2>Pie de Pagina</h2>
		<p>Contacto: ejemplo@email.com</p>
		<p>
			Redes Sociales: <a href="#">Facebook</a> <a href="#">Twitter</a> <a
				href="#">Instagram</a>
		</p>
	</footer>

</body>
</html>